In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans. A database is a storage house of data , which can be stored in structured as well as
un-structured format.
SQL: 
    -Stands for Structured Query Language
    -data is stored as per proper schema defined to store in.
    -For e.g: MySQL,SQLite etc.
NoSQL:
    -Stands for Not Only SQL
    -there is a value addition to SQL in which any type of data can be stored in anytype of json file.
    -For e.g: MongoDB

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans. DDL stands for Data Defintion Language. They are basically used to define/manipulate the database
    or the base structure of a table.
    
    CREATE command is used to create a table in a database.
    DROP command is used to drop/delete a database
    ALTER command is used to modify the structure of a existing database table
    TRUNCATE command is used to delete all the entries/row of a table keeping the schema safe.

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans. DML stands for Data Manipulation Language , used to manipulate data/entries of a table.

    INSERT command is used to insert entries into a table.
    
    UPDATE command is used to update entries of a table.
    
    DELETE command is used to delete entries of a table.

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
Ans. DQL stands for Data Query Language , used to retrieve data from databse tables.

SELECT is used to select specific entries from a table as per condition provide.
    For E.g.
    SELECT * FROM TABLE1;
    this will fetch the complete table TABLE1 , and will display it on output.

In [ ]:
Q5. Explain Primary Key and Foreign Key.
Ans. Primary Key is one of the attribute in a table which uniquely identifies each entry in a table.

Foreign Key : A Non-primary attribute in a table which is a primary key in another table, is known as foreign key.

In [ ]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
# Ans. 
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user="abc",
    passwd="password"
)
mycur = mydb.cursor()
mycur.execute("SHOW DATABASES")

- The cursor() function is used to assign a cursor to a python variable which can be used to execute 
a mysql code.

- The execute() function is used to execute a mysql query from a python file.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.
Ans.
FROM - specifies the table or tables from which to retrieve data.
WHERE - filters data based on certain conditions.
GROUP BY - groups data based on one or more columns.
HAVING - filters grouped data based on certain conditions.
SELECT - retrieves data from one or more tables and specifies the columns to be included in the query result.
DISTINCT - eliminates duplicate rows from the query result.
ORDER BY - sorts data based on one or more columns.
LIMIT - limits the number of rows returned by the query.