In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4] 
df = pd.DataFrame(data = {'course_name' : course_name,'duration' : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [6]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc : is used to access rows in a dataframe by passing labels to its paramter 
vs
iloc : is used to access rows in a indexed fashion by passing an index value to the paramter.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [12]:
ri = [3,0,1,2]
new_df = df.reindex(ri)
print(new_df.loc[2])
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Did you observe any difference in both the outputs? If so then explain it.

Yes, the one with loc method returned the tuple that has 2 as label value of index.
On the other hand the method iloc returned the 2nd row irrespective of its label value of index.

In [13]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [16]:
print(df1.mean())
print("Std Deviation of col 2 : ",df1['column_2'].std())

column_1    0.451903
column_2    0.521570
column_3    0.202227
column_4    0.707714
column_5    0.477015
column_6    0.559267
dtype: float64
Std Deviation of col 2 :  0.3000297693412126

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.

In [19]:
df1['column_2'][1] = "Hello"
df1['column_2'].mean()

TypeError: can only concatenate str (not "float") to str

Reason : can only concatenate str (not "float") to str

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

The windows functionality allows to work on subset of data or on selected rows 
by using rolling method in which we specify the number of consecutive rows to be considered
for our calculations.
All types of statistical functions could fall in window functions.

Q7. Write a code to print only the current month and year at the time of answering this question.

In [25]:
from datetime import datetime

now = datetime.now()
current_month = now.strftime("%B")
current_year = now.strftime("%Y")


print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: June
Current Year: 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [30]:
date1 = input("Enter 1st date :")
date2 = input("Enter 2nd date :")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

datediff = date2-date1
days = datediff.days
hours = datediff.seconds // 3600
minutes = (datediff.seconds//60)%60
print(days,'\n',hours,'\n',minutes)

Enter 1st date : 2023-06-05
Enter 2nd date : 2023-07-11

36
 0
 0

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [31]:
df = pd.read_csv('randomcsv.csv')
column_name = input("Enter the name of the column to convert: ")

# Prompt the user to enter the category order
category_order = input("Enter the category order (comma-separated): ").split(',')
df[column_name]=pd.Categorical(df[column_name], categories=category_order, ordered=True)
sorted_df = df.sort_values(column_name)
print(sorted_df)

Enter the name of the column to convert:  Phone
Enter the category order (comma-separated):  6666-1234,6666-3452,6666-7834,6666-9912

            Name  Age                      Email Phone
0     John Smith   35     john.smith@example.com   NaN
1  Emily Johnson   28  emily.johnson@example.com   NaN
2  Michael Davis   42  michael.davis@example.com   NaN
3   Sarah Wilson   31   sarah.wilson@example.com   NaN
4    David Brown   39    david.brown@example.com   NaN

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [33]:
import matplotlib.pyplot as plt
fname = input("ENter the name of file :")
df = pd.read_csv(fname)
grouped_df = df.groupby(['Date', 'Category'])['Sales'].sum().unstack()
grouped_df.plot(kind='bar', stacked=True)
plt.title('Sales by Product Category Over Time')
plt.xlabel('Date')
plt.ylabel('Sales')
plt.legend(title='Product Category')
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [34]:
import csv

# Sample student data
student_data = [
    {"Student ID": 1, "Test Score": 85},
    {"Student ID": 2, "Test Score": 92},
    {"Student ID": 3, "Test Score": 78},
    {"Student ID": 4, "Test Score": 88},
    {"Student ID": 5, "Test Score": 95}
]

# File path to save the CSV file
file_path = "student_data.csv"

# CSV column names
fieldnames = ["Student ID", "Test Score"]

# Write student data to CSV file
with open(file_path, mode="w", newline="") as file:
    writer = csv.DictWriter(file, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerows(student_data)

print("CSV file created successfully.")

CSV file created successfully.

In [37]:
student_data = input("Enter the student file name :")
df = pd.read_csv(student_data)
print("Mean :",df['Test Score'].mean())
print("Median :",df['Test Score'].median())
print("Mode :",df['Test Score'].mode())

Enter the student file name : student_data.csv

Mean : 87.6
Median : 88.0
Mode : 0    78
1    85
2    88
3    92
4    95
Name: Test Score, dtype: int64